





@Html.ActionLink("Add New","AddEmployee")

<table class="table table-bordered">
    @foreach (var item in ViewBag.allEmp)
    {
        <tr>
            <td> @item.eId </td>
            <td> @item.eName </td>
            <td> @item.eDesignation </td>
            <td> @item.eSalary </td>
            <td> @item.eIsPermenant </td>
        </tr>
    }
</table>